<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name="description" content="{{ $description }}">

{{- $author := partialCached "data/author" . .RelPermalink -}}
<meta name="author" content="{{ $author }}">

<link rel="canonical" href="{{ .Permalink }}">

{{ with .Site.Params.favicon }}
<link rel="icon" type="image/x-icon" href="{{ . }}" />
{{ end }}

{{- $title := partialCached "data/title" . .RelPermalink -}}

<title>{{ $title }}</title>

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="/css/styles.css" />

<!-- Rouge syntax highlighting -->
<link rel="stylesheet" href="/css/syntax.css" />

<!-- Theme-agnostic custom CSS -->
<link id="custom_css" href="/css/custom.css" rel="stylesheet">

<!-- Dark CSS theme -->
{{ if .Site.Params.respect_prefers_color_scheme }}
<link id="dark_css" href="/css/dark.css" rel="stylesheet">
{{ end }}

{{ if .Site.Params.colorScheme.toggle }}
<!-- Toggle Theme script -->
<script src="/js/toggle_theme.js"></script>
{{ end }}

<!-- Font Awesome icons (free version)-->
<link href="/css/webfonts/fontawesome.min.css" rel="stylesheet">
<link href="/css/webfonts/brands.min.css" rel="stylesheet">
<link href="/css/webfonts/solid.min.css" rel="stylesheet">
<link href="/css/webfonts/regular.min.css" rel="stylesheet">
