<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name="description" content="{{ $description }}">

{{- $author := partialCached "data/author" . .RelPermalink -}}
<meta name="author" content="{{ $author }}">

<link rel="canonical" href="{{ .Permalink }}">

{{ with .Site.Params.favicon }}
<link rel="icon" type="image/x-icon" href="{{ . }}" />
{{ end }}

{{- $title := partialCached "data/title" . .RelPermalink -}}

<title>{{ $title }}</title>

<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="/css/styles.css" />

<!-- Rouge syntax highlighting -->
<link rel="stylesheet" href="/css/syntax.css" />

<!-- Theme-agnostic custom CSS -->
<link id="custom_css" href="/css/custom.css" rel="stylesheet">

{{ if eq .Site.Params.colorScheme.default "dark" }}
<link id="dark_css" href="/css/dark.css" rel="stylesheet">
{{ end }}

{{ if .Site.Params.colorScheme.toggle }}
<!-- Toggle Theme script -->
<script src="/js/toggle_theme.js"></script>
{{ end }}

<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
