{{ if gt .Paginator.TotalPages 1 }}
    <ul class='pager'>
        {{ $.Scratch.Set "hasPrevDots" false }}
        {{ $.Scratch.Set "hasNextDots" false }}

        {{ range .Paginator.Pagers }}
            {{ if eq . $.Paginator }}
                <a class='current btn'>
                    {{- .PageNumber -}}
                </a>
                {{ else if or (or (eq . $.Paginator.First) (eq . $.Paginator.Prev)) (or  (eq . $.Paginator.Next) (eq . $.Paginator.Last )) }}
                    <a class='btn' href='{{ .URL }}'>
                        {{- .PageNumber -}}
                    </a>
                {{ else }}
                    {{ if and (not ($.Scratch.Get "hasPrevDots")) (lt .PageNumber $.Paginator.PageNumber)  }}
                        {{ $.Scratch.Set "hasPrevDots" true }}
                        <a class='dots btn'>&hellip;</a>
                    {{ else if and (not ($.Scratch.Get "hasNextDots")) (gt .PageNumber $.Paginator.PageNumber) }}
                        {{ $.Scratch.Set "hasNextDots" true }}
                        <a class="dots btn">&hellip;</a>
                    {{ end }}
                {{ end }}
            {{ end }}
    </ul>
{{ end }}
