<!-- Page Header -->
{{ $header_image := $.Param "header_img" }}
{{ if .IsHome }}
  {{ $header_image = $.Param "header_img"  }}
<!-- 404 page -->
{{ else if eq .Page.Title "404 Page not found" }}
  {{ $header_image = .Site.Params.fourofour_img  }}
<!-- Taxonomy page -->
{{ else if .IsNode }}
  {{ if (index .Site.Params.taxonomy_header_imgs .Page.Title ) }}
    {{ $header_image = (print "/img/tags/" (index .Site.Params.taxonomy_header_imgs .Page.Title)) }}
  {{ end }}
<!-- everything else -->
{{ else }}
  {{ $header_image = $.Param "header_img" }}
{{ end }}
<header class="masthead" style="background-image: url('{{ $header_image }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- is a post -->
          {{ if eq .Section "post" }}
          <div class="post-heading">
            <h1>{{ .Page.Title }}</h1>
            <h2 class="subheading">{{ $.Param "subtitle" }}</h2>
            <span class="meta">Posted on {{ .Page.PublishDate.Format .Site.Params.dateFormat.published }}
            {{ if .Site.Params.post_age_warning_years }}
              {{ $postAgeWarningYears := .Site.Params.post_age_warning_years }} <!-- Can't use the parameter directly with AddDate so we need a variable -->
              {{ $thresholdDate := now.AddDate (int (mul -1 $postAgeWarningYears)) 0 0 }} <!-- Add threshold date to current date, multiply years from variable with -1 to get a negative value and cast as int because mul returns int64 -->
              {{ if .PublishDate.Before $thresholdDate }}
                ; this post is older than {{ .Site.Params.post_age_warning_years }} years and might contain out-of-date information.
              {{ end }}
            {{ end }}
            </span>
            {{ if $.Param "tags" }}
            <span class="meta"> Tags:
              {{ range $.Param "tags" }}
              <a href="/tags/{{ . }}">
                    #{{ . }}
                  </a>
                  {{ end }}
                </span>
                {{ end }}
              </div>
              {{ else }}
              <!-- is not a post -->
              <div class="site-heading">
                <!-- Homepage -->
                {{ if .IsHome }}
                <h1 class="only-on-mobile">{{ .Page.Title }}</h1>
                <span class="subheading">
                  {{ if .Site.Params.featured_tags }}
                  {{ range .Site.Params.featured_tags }}
                  <a href="/tags/{{ . }}" style="text-decoration: normal; font-weight: normal; color: #ffffff;">
                    #{{ . }}
                  </a>
                  {{ end }}
                </span>
                {{ end }}
                <!-- 404 page -->
                {{ else if eq .Page.Title "404 Page not found" }}
                  <h1>{{ .Page.Title }}</h1>
                <!-- Taxonomy page -->
                {{ else if .IsNode }}
                  <h1>#{{ .Page.Title }}</h1>
                  <h2 class="subheading">All tagged posts</h4>
            <!-- everything else -->
            {{ else }}
              <h1 class="only-on-mobile">{{ .Page.Title }}</h1>
            {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
</header>